@model MyBlog.Domain.Models.Post

@{
ViewBag.Title = "Post Details";
Layout = "_Layout";
}

<div class="head" style="text-align: center; position: relative">
    <h2>@Model.Title</h2>

    <form asp-action="Edit" asp-route-id="@Model.Id" method="get" style="position: absolute; top: 0; right: 0;">
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>

<div class="content">
    @Html.Raw(Model.Content)
</div>
