@model MyBlog.Domain.Models.Post

@{
ViewBag.Title = "Post Details";
Layout = "_Layout";
}

<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Update</a>

<div style="text-align: center; position: relative">
    <h2>@Model.Title</h2>
    <p>@Model.Subtitle</p>
</div>

<div class="content">
    @Html.Raw(Model.Content)
</div>
